.highlights {
  background-color: @background-secondary;

  &__items {
    padding-block-end: 24px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(256px, auto);
      padding-block-end: 0;
    }
  }

  &__item {
    text-align: center;
    padding-inline: 18px;
    padding-block-start: 25px;
    width: 100%;
  }

  &__item:first-child {
    padding-block-start: 55px;

    @media (min-width: @tablet-width) {
      padding-block-start: 0;
    }
  }

  &__item--illustrated {
    background-color: @background-highlight;
    margin-block-end: 0;
    padding-inline: 0;

    @media (min-width: @tablet-width) {
      padding-block-start: 0;
      grid-column: ~"1 / -1";
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "textual image";
    }
  }

  &__item--illustrated-reversed {
    @media (min-width: @tablet-width) {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "image textual";
    }
  }

  &__textual-part {
    padding: 40px 18px;
    height: 260px;

    @media (min-width: @tablet-width) {
      padding: 42px 32px;
      grid-area: textual;
    }

    @media (min-width: @desktop-width) {
      padding: 53px;
    }

    .highlights__title,
    .highlights__number,
    .highlights__text {
      color: @text-highlight;
    }
  }

  &__title {
    margin-block-end: 21px;

    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }

  &__text,
  &__number {
    font-size: 14px;
    line-height: 21px;
  }

  &__number {
    margin-block-end: 21px;
  }

  &__image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;

    @media (min-width: @tablet-width) {
      grid-area: image;
    }
  }

  &__subitems {
    background-color: @background;
    padding-block-end: 25px;

    @media (min-width: @tablet-width) {
      grid-column: ~"1 / 3";
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__subitem {
    padding-block-start: 25px;
    padding-inline: 18px;
    text-align: start;
    display: grid;
    grid-template-areas:
      "icon title"
      ".    description";
    grid-template-columns: 40px 1fr;
    column-gap: 12px;
    row-gap: 10px;

    @media (min-width: @tablet-width) {
      padding: 60px 36px;
      grid-template-columns: 1fr;
      grid-template-rows: 75px repeat(2, min-content);
      grid-template-areas:
        "icon"
        "title"
        "description";
      justify-items: center;
      row-gap: 21px;
      text-align: center;
    }
  }

  &__subitem-image {
    height: 40px;
    grid-area: icon;

    @media (min-width: @tablet-width) {
      height: 75px;
      margin-block-end: 5px;
    }
  }

  &__subitem-title {
    margin-block-start: 10px;
    position: relative;
    text-align: start;
    grid-area: title;

    h3 {
      text-align: start;
    }

    @media (min-width: @tablet-width) {
      margin-block-start: 0;
    }
  }

  &__subitem-description {
    line-height: 21px;
    grid-area: description;
  }

  &__item--simple {
    @media (min-width: @tablet-width) {
      padding: 42px;
      display: grid;
      grid-template-rows: 55px 46px 65px;
      align-items: center;

      .highlights__title,
      .highlights__number,
      .highlights__text {
        margin: 0;
      }
    }
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: @border-primary;
    margin-block-start: 25px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
