.intro {
  text-align: center;

  &__banner {
    background-color: #e5f2fa;
    background-image: url("../../img/intro-background.jpg");
    background-position: top 20% center;
    height: 389px;
    position: relative;
    overflow-x: clip;

    @media (min-width: @tablet-width) {
      height: 518px;
    }

    &--short {
      height: 154px;
      background-position: left 80%;
    }
  }

  &__image-triangle {
    position: absolute;
    width: 1202px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    max-width: unset;

    &--trailing {
      height: 37px;
      bottom: 1px;
      left: 50%;
      transform: translate(-50%, 100%);

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  &__image-text {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;

    @media (min-width: @tablet-width) {
      width: 461px;
    }

    &--short {
      top: 50px;
    }
  }

  &__title {
    margin-block-end: 26px;

    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }

  &__content--short {
    line-height: 24px;
  }

  &__text {
    position: relative;
    padding-inline: 18px;
    overflow-x: clip;
    padding-block-start: 32px;
    padding-block-end: 11px;

    @media (min-width: @tablet-width) {
      padding: 44px 40px 57px 40px;
    }

    &--padded-border {
      padding-block-end: 16px;
      border-bottom: 1px solid @border-primary;
      margin-block-end: 20px;
    }
  }
}
