.page {
  height: 100%;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  &__body {
    min-width: 320px;
    min-height: 100%;
    max-width: 320px;
    margin: auto;
    text-transform: uppercase;
  }
}
