.promo-video {
  margin-block-end: 50px;

  &__title {
    font-size: 14px;
    line-height: 24px;
    padding-inline: 20px;
    margin-block-end: 26px;
  }

  &__text {
    line-height: 24px;
    text-align: center;
    padding-inline: 20px;
    margin-block-end: 33px;
  }
}
