.reviews {
  padding-block-start: 35px;
  padding-block-end: 50px;
  text-align: justify;

  @media (min-width: @tablet-width) {
    padding-block-start: 58px;
    padding-block-end: 58px;
  }

  &__title {
    font-size: 21px;
    margin-block-end: 21px;
    padding-inline: 30px;

    @media (min-width: @tablet-width) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__container {
    border: 3px solid @background-highlight;
    border-radius: 20px;
    padding: 10px;
    padding-inline: 20px;
    margin-block: 48px;

    @media (min-width: @tablet-width) {
      display: grid;
      width: 80%;
      margin-inline: auto;
      grid-template-areas:
          "author impression"
          "sights sights"
          "details details";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto; /* Adjust as needed */
      gap: 10px; /* Adjust gap between grid items */
    }
  }

  &__description {
    line-height: 24px;
    margin-block-end: 27px;
    padding-inline: 30px;

    @media (min-width: @tablet-width) {
      margin-block-end: 37px;
      padding-inline: 160px;
      text-align: center;
    }
  }

  &__content {
    &--author {
      grid-area: author;
    }
    
    &--impression {
      grid-area: impression;
    }
    
    &--sights {
      grid-area: sights;
    }
    
    &--details {
      grid-area: details;
    }
  }

  &__link {
    width: 90%;
    margin: auto;
    font-size: 21px;
    line-height: 26px;

    @media (min-width: @tablet-width) {
      width: 60%;
    }
  }
}
