* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ol,
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
h2,
h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #000000;
}
p {
  margin: 0;
  color: #333333;
}
input {
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 18px 21px 14px 21px;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
input:hover {
  background-color: #E5E5E5;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus {
  background-color: #FFFFFF;
  outline: 4px solid #E5E5E5;
  outline-offset: -4px;
}
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #F2F2F2;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #333333;
  width: 3em;
  height: 3em;
  border: none;
  transform: translateY(-0.8em);
  display: grid;
  place-content: center;
  outline: none;
}
input[type="radio"] {
  border-radius: 50%;
}
input[type="checkbox"] {
  border-radius: 0.5em;
}
input[type="radio"]:hover,
input[type="checkbox"]:hover {
  background-color: #E5E5E5;
}
input[type="radio"]::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  transform: scale(0);
  background-color: #333333;
}
input[type="checkbox"]::before {
  content: "";
  width: 2em;
  height: 2em;
  transform: scale(0);
  background-color: #333333;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
  transform-origin: bottom-left;
  -webkit-clip-path: polygon(24% 45%, 46% 63%, 81% 18%, 89% 24%, 46% 79%, 16% 52%);
          clip-path: polygon(24% 45%, 46% 63%, 81% 18%, 89% 24%, 46% 79%, 16% 52%);
}
input[type="radio"]:active::before {
  background-color: rgba(51, 51, 51, 0.3);
  transform: scale(1);
}
input[type="checkbox"]:active::before {
  background-color: rgba(51, 51, 51, 0.3);
  transform: scale(1);
  transform-origin: bottom-left;
  -webkit-clip-path: polygon(24% 45%, 46% 63%, 81% 18%, 89% 24%, 46% 79%, 16% 52%);
          clip-path: polygon(24% 45%, 46% 63%, 81% 18%, 89% 24%, 46% 79%, 16% 52%);
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid #333333;
  outline-offset: max(2px, 0.15em);
}
textarea {
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 18px 22px 24px 22px;
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  background-color: #81B3D2;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}
.main-button:hover {
  background-color: #669EC0;
}
.main-button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.page {
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  max-width: 1200px;
  margin: auto;
  background-color: #F2F2F2;
}
.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: auto;
  text-transform: uppercase;
  max-width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  ul.main-nav--mobile-hidden,
  button.main-nav--mobile-hidden {
    display: none;
  }
}
.main-nav {
  -webkit-padding-after: 56px;
          padding-block-end: 56px;
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    -webkit-padding-after: 0;
            padding-block-end: 0;
    z-index: 1;
  }
}
.main-nav__close-menu {
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 2;
}
.main-nav__close-menu svg {
  fill: #FFFFFF;
}
@media (min-width: 768px) {
  .main-nav__close-menu {
    display: none;
  }
}
.main-nav__items {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-nav__items {
    height: 56px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 120px repeat(2, 1fr);
    gap: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
.main-nav__logo-spacer {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__logo-spacer {
    display: block;
  }
}
.main-nav__item {
  background-color: #81B3D2;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
  -webkit-padding-after: 5px;
          padding-block-end: 5px;
  border-bottom: 2px solid rgba(1, 1, 1, 0.3);
  z-index: 1;
}
@media (min-width: 768px) {
  .main-nav__item {
    padding: 0;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    border-bottom: none;
    font-size: 14px;
    line-height: 26px;
  }
}
.main-nav__item:hover {
  background-color: #669EC0;
}
@media (min-width: 768px) {
  .main-nav__item:hover {
    background-color: unset;
    color: #81B3D2;
  }
}
.main-nav__item:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .main-nav__item:active {
    background-color: unset;
    color: rgba(0, 0, 0, 0.3);
  }
}
.main-nav__item:last-child {
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav__item:last-child {
    box-shadow: none;
    z-index: auto;
  }
}
@media (min-width: 768px) {
  .main-nav__item--active {
    color: #766357;
  }
}
@media (min-width: 768px) {
  .main-nav__item--active:hover {
    color: #604E43;
  }
}
.main-nav__close-menu:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}
.main-nav__close-menu:active svg {
  fill: rgba(255, 255, 255, 0.3);
}
.main-nav__open-menu {
  position: absolute;
  bottom: 17px;
  right: 20px;
}
@media (min-width: 768px) {
  .main-nav__open-menu {
    display: none;
  }
}
.main-nav__open-menu svg {
  fill: #81B3D2;
}
.main-nav__open-menu:hover svg {
  fill: rgba(129, 179, 210, 0.6);
}
.main-nav__open-menu:active svg {
  fill: rgba(129, 179, 210, 0.3);
}
.main-nav__header-logo {
  position: absolute;
  width: 102px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-nav__header-logo {
    top: 0;
  }
}
.intro {
  text-align: center;
}
.intro__banner {
  background-color: #e5f2fa;
  background-image: url("../../img/intro-background.jpg");
  background-position: top 20% center;
  height: 389px;
  position: relative;
  overflow-x: clip;
}
@media (min-width: 768px) {
  .intro__banner {
    height: 518px;
  }
}
.intro__banner--short {
  height: 154px;
  background-position: left 80%;
}
@media (min-width: 768px) {
  .intro__banner--short {
    height: 290px;
    background-position: bottom center;
  }
}
.intro__image-triangle {
  position: absolute;
  width: 1202px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  max-width: unset;
}
.intro__image-triangle--trailing {
  height: 37px;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 100%);
}
@media (min-width: 768px) {
  .intro__image-triangle--trailing {
    display: none;
  }
}
.intro__image-text {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width: 768px) {
  .intro__image-text {
    width: 461px;
  }
}
.intro__image-text--short {
  top: 50px;
}
@media (min-width: 768px) {
  .intro__image-text--short {
    top: 100px;
  }
}
.intro__title {
  -webkit-margin-after: 26px;
          margin-block-end: 26px;
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 30px;
    line-height: 30px;
    -webkit-margin-after: 21px;
            margin-block-end: 21px;
  }
}
.intro__content--short {
  line-height: 24px;
}
.intro__text {
  position: relative;
  padding-inline: 18px;
  overflow-x: clip;
  -webkit-padding-before: 32px;
          padding-block-start: 32px;
  -webkit-padding-after: 11px;
          padding-block-end: 11px;
}
@media (min-width: 768px) {
  .intro__text {
    padding: 44px 40px 57px 40px;
  }
}
.intro__text--padded-border {
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
  border-bottom: 1px solid #D6D6D6;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
@media (min-width: 768px) {
  .intro__text--padded-border {
    padding: 65px 20% 62px 20%;
    border-bottom: none;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
@media (min-width: 1200px) {
  .intro__text--padded-border {
    padding: 113px 20% 62px 20%;
  }
}
.highlights {
  background-color: #EEEEEE;
}
.highlights__items {
  -webkit-padding-after: 24px;
          padding-block-end: 24px;
}
@media (min-width: 768px) {
  .highlights__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(256px, auto);
    -webkit-padding-after: 0;
            padding-block-end: 0;
  }
}
.highlights__item {
  text-align: center;
  padding-inline: 18px;
  -webkit-padding-before: 25px;
          padding-block-start: 25px;
  width: 100%;
}
.highlights__item:first-child {
  -webkit-padding-before: 55px;
          padding-block-start: 55px;
}
@media (min-width: 768px) {
  .highlights__item:first-child {
    -webkit-padding-before: 0;
            padding-block-start: 0;
  }
}
.highlights__item--illustrated {
  background-color: #81B3D2;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-inline: 0;
}
@media (min-width: 768px) {
  .highlights__item--illustrated {
    -webkit-padding-before: 0;
            padding-block-start: 0;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "textual image";
  }
}
@media (min-width: 768px) {
  .highlights__item--illustrated-reversed {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "image textual";
  }
}
.highlights__textual-part {
  padding: 40px 18px;
  height: 260px;
}
@media (min-width: 768px) {
  .highlights__textual-part {
    padding: 42px 32px;
    grid-area: textual;
  }
}
@media (min-width: 1200px) {
  .highlights__textual-part {
    padding: 53px;
  }
}
.highlights__textual-part .highlights__title,
.highlights__textual-part .highlights__number,
.highlights__textual-part .highlights__text {
  color: #FFFFFF;
}
.highlights__title {
  -webkit-margin-after: 21px;
          margin-block-end: 21px;
}
@media (min-width: 768px) {
  .highlights__title {
    font-size: 21px;
  }
}
.highlights__text,
.highlights__number {
  font-size: 14px;
  line-height: 21px;
}
.highlights__number {
  -webkit-margin-after: 21px;
          margin-block-end: 21px;
}
.highlights__image {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (min-width: 768px) {
  .highlights__image {
    grid-area: image;
  }
}
.highlights__subitems {
  background-color: #FFFFFF;
  -webkit-padding-after: 25px;
          padding-block-end: 25px;
}
@media (min-width: 768px) {
  .highlights__subitems {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.highlights__subitem {
  -webkit-padding-before: 25px;
          padding-block-start: 25px;
  padding-inline: 18px;
  text-align: start;
  display: grid;
  grid-template-areas: "icon title" ".    description";
  grid-template-columns: 40px 1fr;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 10px;
}
@media (min-width: 768px) {
  .highlights__subitem {
    padding: 60px 36px;
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(2, min-content);
    grid-template-areas: "icon" "title" "description";
    justify-items: center;
    row-gap: 21px;
    text-align: center;
  }
}
.highlights__subitem-image {
  height: 40px;
  grid-area: icon;
}
@media (min-width: 768px) {
  .highlights__subitem-image {
    height: 75px;
    -webkit-margin-after: 5px;
            margin-block-end: 5px;
  }
}
.highlights__subitem-title {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  position: relative;
  text-align: start;
  grid-area: title;
}
.highlights__subitem-title h3 {
  text-align: start;
}
@media (min-width: 768px) {
  .highlights__subitem-title {
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
}
.highlights__subitem-description {
  line-height: 21px;
  grid-area: description;
}
@media (min-width: 768px) {
  .highlights__item--simple {
    padding: 42px;
    display: grid;
    grid-template-rows: 55px 46px 65px;
    align-items: center;
  }
  .highlights__item--simple .highlights__title,
  .highlights__item--simple .highlights__number,
  .highlights__item--simple .highlights__text {
    margin: 0;
  }
}
.highlights__separator {
  width: 100%;
  height: 1px;
  background-color: #D6D6D6;
  -webkit-margin-before: 25px;
          margin-block-start: 25px;
}
@media (min-width: 768px) {
  .highlights__separator {
    display: none;
  }
}
.reviews {
  -webkit-padding-before: 35px;
          padding-block-start: 35px;
  -webkit-padding-after: 50px;
          padding-block-end: 50px;
  text-align: justify;
}
@media (min-width: 768px) {
  .reviews {
    -webkit-padding-before: 58px;
            padding-block-start: 58px;
    -webkit-padding-after: 58px;
            padding-block-end: 58px;
  }
}
.reviews__title {
  font-size: 21px;
  -webkit-margin-after: 21px;
          margin-block-end: 21px;
  padding-inline: 30px;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 30px;
    line-height: 30px;
  }
}
.reviews__container {
  border: 3px solid #81B3D2;
  border-radius: 20px;
  padding: 10px;
  padding-inline: 20px;
  margin-block: 48px;
}
@media (min-width: 768px) {
  .reviews__container {
    display: grid;
    width: 80%;
    margin-inline: auto;
    grid-template-areas: "author impression" "sights sights" "details details";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    /* Adjust as needed */
    gap: 10px;
    /* Adjust gap between grid items */
  }
}
.reviews__description {
  line-height: 24px;
  -webkit-margin-after: 27px;
          margin-block-end: 27px;
  padding-inline: 30px;
}
@media (min-width: 768px) {
  .reviews__description {
    -webkit-margin-after: 37px;
            margin-block-end: 37px;
    padding-inline: 160px;
    text-align: center;
  }
}
.reviews__content--author {
  grid-area: author;
}
.reviews__content--impression {
  grid-area: impression;
}
.reviews__content--sights {
  grid-area: sights;
}
.reviews__content--details {
  grid-area: details;
}
.reviews__link {
  width: 90%;
  margin: auto;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .reviews__link {
    width: 60%;
  }
}
.map {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}
.map iframe {
  height: 350px;
  width: 100%;
}
.page-footer {
  -webkit-padding-before: 28px;
          padding-block-start: 28px;
  -webkit-padding-after: 26px;
          padding-block-end: 26px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-block: 36px;
  }
}
@media (min-width: 768px) {
  .page-footer > * {
    flex-basis: 30%;
  }
}
.page-footer__hashtag-link {
  font-size: 21px;
  font-weight: 700;
  -webkit-margin-after: 34px;
          margin-block-end: 34px;
}
@media (min-width: 768px) {
  .page-footer__hashtag-link {
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
.page-footer__social-networks {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  -webkit-margin-after: 45px;
          margin-block-end: 45px;
}
@media (min-width: 768px) {
  .page-footer__social-networks {
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
.page-footer__social-networks-item {
  background-color: #81B3D2;
  width: 48px;
  height: 48px;
  -webkit-margin-end: 6px;
          margin-inline-end: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer__social-networks-item svg {
  fill: #FFFFFF;
}
.page-footer__social-networks-item:hover {
  background-color: #669EC0;
}
.page-footer__social-networks-item:active {
  background-color: #5496BD;
}
.page-footer__social-networks-item:active svg {
  fill: rgba(255, 255, 255, 0.3);
}
.page-footer__design-by {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .page-footer__design-by {
    align-items: center;
  }
}
.page-footer__design-by-text {
  -webkit-margin-end: 6px;
          margin-inline-end: 6px;
}
.page-footer__design-by-logo svg {
  fill: #000000;
}
@media (min-width: 768px) {
  .page-footer__design-by-logo {
    display: flex;
  }
}
.page-footer__design-by-logo:hover svg {
  fill: #81B3D2;
}
.page-footer__design-by-logo:active svg {
  fill: rgba(0, 0, 0, 0.3);
}
.review-form {
  padding-inline: 20px;
  -webkit-margin-after: 48px;
          margin-block-end: 48px;
}
@media (min-width: 768px) {
  .review-form {
    padding-inline: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "impression name" "contacts contacts" "visited visited" "details details";
    -webkit-margin-after: 60px;
            margin-block-end: 60px;
  }
}
@media (min-width: 1200px) {
  .review-form {
    padding-inline: 128px;
    -webkit-margin-after: 66px;
            margin-block-end: 66px;
  }
}
.review-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-padding-after: 30px;
          padding-block-end: 30px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  -webkit-border-after: 1px solid #D6D6D6;
          border-block-end: 1px solid #D6D6D6;
  display: grid;
}
@media (min-width: 768px) {
  .review-form__fieldset {
    -webkit-border-after: none;
            border-block-end: none;
  }
}
@media (min-width: 768px) {
  .review-form__fieldset--impression {
    grid-area: impression;
    -webkit-border-end: 1px solid #D6D6D6;
            border-inline-end: 1px solid #D6D6D6;
    -webkit-margin-after: 72px;
            margin-block-end: 72px;
  }
}
.review-form__fieldset--name {
  grid-template-columns: 60px minmax(0, 1fr);
  gap: 20px 14px;
  align-items: center;
}
@media (min-width: 768px) {
  .review-form__fieldset--name {
    grid-area: name;
    -webkit-padding-start: 58px;
            padding-inline-start: 58px;
    -webkit-margin-after: 72px;
            margin-block-end: 72px;
  }
}
.review-form__fieldset--contacts {
  grid-template-columns: minmax(0, 1fr) 58px;
}
@media (min-width: 768px) {
  .review-form__fieldset--contacts {
    grid-area: contacts;
    -webkit-border-before: 1px solid #D6D6D6;
            border-block-start: 1px solid #D6D6D6;
    -webkit-padding-after: 0;
            padding-block-end: 0;
    -webkit-margin-after: 50px;
            margin-block-end: 50px;
  }
}
@media (min-width: 1200px) {
  .review-form__fieldset--contacts {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .review-form__fieldset--visited {
    grid-area: visited;
    -webkit-border-before: 1px solid #D6D6D6;
            border-block-start: 1px solid #D6D6D6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 10%;
    -webkit-padding-after: 0;
            padding-block-end: 0;
  }
}
@media (min-width: 1200px) {
  .review-form__fieldset--visited {
    padding-inline: 0;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .review-form__fieldset--details {
    grid-area: details;
    -webkit-border-before: 1px solid #D6D6D6;
            border-block-start: 1px solid #D6D6D6;
  }
}
.review-form__fieldset:last-of-type {
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}
@media (max-width: 767px) {
  .review-form__fieldset:last-of-type {
    border: none;
  }
}
.review-form__legend {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  -webkit-margin-after: 18px;
          margin-block-end: 18px;
}
@media (min-width: 768px) {
  .review-form__legend {
    font-size: 21px;
    -webkit-margin-after: 52px;
            margin-block-end: 52px;
  }
}
.review-form__legend--impression {
  -webkit-margin-after: 37px;
          margin-block-end: 37px;
}
@media (min-width: 768px) {
  .review-form__legend--impression {
    -webkit-margin-after: 72px;
            margin-block-end: 72px;
  }
}
@media (min-width: 768px) {
  .review-form__legend--contacts {
    -webkit-margin-after: 20px;
            margin-block-end: 20px;
    width: 500px;
    padding-inline: 80px;
  }
}
@media (min-width: 768px) {
  .review-form__legend--visited {
    -webkit-margin-after: 47px;
            margin-block-end: 47px;
    width: 500px;
    padding-inline: 80px;
  }
}
@media (min-width: 768px) {
  .review-form__legend--details {
    width: 500px;
    padding-inline: 80px;
  }
}
.review-form__label--contact {
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
  grid-column-start: 1;
  grid-column-end: 3;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
@media (min-width: 1200px) {
  .review-form__label--contact {
    -webkit-padding-end: 18px;
            padding-inline-end: 18px;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
.review-form__label--contact:not(:first-of-type) {
  -webkit-padding-before: 14px;
          padding-block-start: 14px;
}
@media (min-width: 768px) {
  .review-form__label--contact:not(:first-of-type) {
    -webkit-padding-before: 25px;
            padding-block-start: 25px;
  }
}
@media (min-width: 1200px) {
  .review-form__label--contact:not(:first-of-type) {
    -webkit-padding-before: 0;
            padding-block-start: 0;
  }
}
@media (min-width: 768px) {
  .review-form__label--visited {
    flex-basis: 40%;
    margin-inline: auto;
  }
}
@media (min-width: 1200px) {
  .review-form__label--visited {
    flex-basis: 20%;
  }
}
@media (min-width: 1200px) {
  .review-form__label--padded {
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }
}
.review-form__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
}
@media (min-width: 1200px) {
  .review-form__icon-container {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
  }
}
.review-form__label--impression,
.review-form__label--visited {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 700;
  text-transform: none;
  display: grid;
  grid-template-columns: 48px auto;
  gap: 26px;
  -webkit-margin-after: 43px;
          margin-block-end: 43px;
}
@media (max-width: 767px) {
  .review-form__label--impression:last-of-type,
  .review-form__label--visited:last-of-type {
    margin: 0;
  }
}
.review-form__field--textarea {
  height: 160px;
  border: none;
}
@media (min-width: 1200px) {
  .review-form__field--contact {
    width: 257px;
  }
}
.review-form__field-note {
  display: inline-block;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  align-self: center;
}
@media (max-width: 767px) {
  .review-form__field-note {
    display: none;
  }
}
@media (min-width: 768px) {
  .catalog {
    padding-inline: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .catalog {
    padding-inline: 0;
  }
}
.catalog__item {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D6D6D6;
  -webkit-margin-after: 23px;
          margin-block-end: 23px;
}
@media (min-width: 768px) {
  .catalog__item {
    padding-inline: 0;
    border-bottom: none;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
@media (min-width: 1200px) {
  .catalog__item {
    position: relative;
  }
}
@media (min-width: 768px) {
  .catalog__item:first-child {
    grid-column: 1 / -1;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .catalog__item:nth-child(n+3):nth-child(odd) > div {
    background-color: #E5E5E5;
  }
}
.catalog__photo {
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center;
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
}
@media (min-width: 768px) {
  .catalog__photo {
    width: 100%;
    height: 400px;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
.catalog__image-info-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__image-info-container {
    padding: 22px 20px 15px 20px;
    background-color: #F2F2F2;
    display: grid;
    grid-template-areas: "catalog-title catalog-likes" "catalog-author catalog-likes";
  }
}
@media (min-width: 1200px) {
  .catalog__image-info-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
.catalog__title {
  font-size: 14px;
  line-height: 24px;
  align-self: flex-start;
  grid-area: catalog-title;
}
@media (min-width: 768px) {
  .catalog__title {
    justify-self: start;
  }
}
@media (min-width: 1200px) {
  .catalog__title {
    color: inherit;
  }
}
.catalog__author {
  text-transform: none;
  line-height: 24px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  grid-area: catalog-author;
}
@media (min-width: 768px) {
  .catalog__author {
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
@media (min-width: 1200px) {
  .catalog__author {
    color: inherit;
  }
}
.catalog__likes {
  display: flex;
  align-items: center;
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  grid-area: catalog-likes;
}
@media (min-width: 768px) {
  .catalog__likes {
    justify-content: flex-end;
  }
}
.catalog__like-button {
  -webkit-margin-end: 14px;
          margin-inline-end: 14px;
}
.catalog__like-button > svg {
  fill: black;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .catalog__like-button > svg {
    fill: white;
    opacity: 1;
  }
}
.catalog__like-numbers {
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .catalog__like-numbers {
    color: inherit;
  }
}
.promo-video {
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}
@media (min-width: 768px) {
  .promo-video {
    -webkit-margin-before: 58px;
            margin-block-start: 58px;
    padding-inline: 60px;
    -webkit-margin-after: 45px;
            margin-block-end: 45px;
  }
}
@media (min-width: 1200px) {
  .promo-video {
    -webkit-margin-before: 63px;
            margin-block-start: 63px;
    -webkit-margin-after: 85px;
            margin-block-end: 85px;
  }
}
.promo-video__title {
  line-height: 26px;
  padding-inline: 20px;
  -webkit-margin-after: 26px;
          margin-block-end: 26px;
}
@media (min-width: 768px) {
  .promo-video__title {
    font-size: 30px;
    line-height: 30px;
    padding-inline: 20%;
  }
}
.promo-video__text {
  line-height: 24px;
  text-align: center;
  padding-inline: 20px;
  -webkit-margin-after: 33px;
          margin-block-end: 33px;
}
@media (min-width: 768px) {
  .promo-video__text {
    padding-inline: 20%;
    -webkit-margin-after: 62px;
            margin-block-end: 62px;
  }
}
.promo-video__video {
  display: block;
  width: 100%;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .promo-video__video {
    max-width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
